<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    {{!-- Load CSS --}}
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="card">
                    <div class="card-body">
                        <h2>Add new user</h2>
                        <form action="/post" method="post">
                            <div class="form-group">
                                <label for="name">Input name</label>
                                <input type="text" name="textname" class="form-control">
                            </div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Load JS --}}
    <script src="js/bootsrap.js"></script>
</body>
</html>