<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    {{!-- Load CSS --}}
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="jumbotron my-5">
                    <h1 class="display-4">Hello, {{name}}</h1>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci pariatur odio possimus, fugit natus quae modi nisi ab alias dolorum excepturi quis eveniet commodi aut amet et impedit ipsum cumque.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias voluptatem aperiam quis, assumenda maxime iusto architecto adipisci corrupti explicabo sequi commodi et ipsam facere libero, ex fuga animi molestiae dolorum.
                    </p>
                    <hr class="my-4">
                    <a class="btn btn-primary" href="/post">Button</a>
                </div>
            </div>
        </div>
    </div>

    {{!-- Load JS --}}
    <script src="js/bootsrap.js"></script>
</body>
</html>